/* for small devices */

@media screen and (max-width: 450px) {
    .menu {
      display: block;
    }
    .nav-items {
      display: none;
    }
    .banner {
      flex-direction: column;
    }
    .banner-btn {
      flex-direction: column;
      row-gap: 20px;
    }
    .footer-main {
      flex-direction: column;
      row-gap: 20px;
      text-align: center;
    }
    .feature-cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      align-items: center;
    }
    .inputs-for-grid{
        grid-template-columns: 1fr;
    }
    .small-center-shared-section{
        flex-direction: column;
    }
    .bmi-bonding-div {
        grid-template-columns: 1fr;
    }
    .footer-main{
        flex-direction: column;
        align-items: center;
    }
    .runner-container{
        flex-direction: column;
        align-items: center;
    }
    .meetup-contents{
        grid-template-columns: 1fr;
        
    }
  
  }
   
