/* for small devices */

@media screen and (max-width: 576px) {
    .navbar-section {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 3.2rem 1.5rem;

    }

    .hambars-icon {
        display: block;
    }

    .navbar-content {
        display: none;
    }

    /* navbar section ends here */

    .banner-main-container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin-top: 6rem;
    }

    .btn-primary {
        width: 142px;
        height: 42px;
        border: none;
        border-radius: 40px;
        background: rgb(230, 83, 60);
        font-size: 1rem;
        font-weight: 600;
        color: rgb(255, 255, 255);

    }

    .btn-secondary {
        width: 142px;
        height: 42px;
        border-radius: 40px;
        border: 1px solid whitesmoke;
        background-color: black;
        font-size: 1rem;
        font-weight: 600;
        color: rgb(255, 255, 255);

    }

    .btn-div {
        width: 100%;
        margin: 1rem auto;
    }

    .banner-img {

        width: 100%;
        position: relative;

    }

    .free-workout-videos {
        width: 8.25rem;
        height: 5rem;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
        padding: 5px;
        position: absolute;
        top: 64rem;
        right: 1.2rem;
    }

    .free-workout-videos h1 {
        font-size: 1rem;
        font-weight: 700;
        color: white;
    }

    .free-workout-videos p {
        font-size: 0.8rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.65);
    }

    .tutorial-videos {
        max-width: 192px;
        max-height: 97px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 4px;
        gap: 0.5rem;
        position: absolute;
        top: 78rem;
        right: 9rem;
    }

    .tutorial-videos h1 {
        font-size: 1.2rem;
        font-weight: 800;
        color: white;
    }

    .tutorial-videos p {
        font-size: 0.8rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.65);
    }

    /* banner ends here  */

    /* change your habit section responsive starts here */
    .change-habit-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 1rem;
    }

    /* change your habit section responsive ends here  */

    /* runner section responsive starts here */
    .runner-container {
        width: 87%;
        margin: 5rem auto;
        background: rgb(34, 34, 34);
        border-radius: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .runner-content {
        width: 100%;
    }

    .runner-content h1 {
        font-size: 2rem;
    }

    .runner-img {
        width: 100%;
        
    }
    .runner-img img{
        object-fit: cover;
    }

    /* runner section responsive ends here */



    /* bmi responsive section starts here */
    .small-center-shared-section {
        width: 87%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin: 5rem auto;
    }

    .small-center-shared-section p {
        width: 88%;
        font-size: 1rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 0.9rem;
    }

    .small-center-shared-section h2 {
        font-size: 2rem;
        text-align: left;
    }

    .bmi-bonding-div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0rem;
    }

    .bmi-calculator-chart-content,
    table,
    th,
    td {
        padding: 0.6;
        font-size: 1.5rem;
    }

    .bmi-calculation-heading-part {
        padding: 1rem;
    }

    .bmi-calculation-heading-part h3,
    p {
        padding: 0.1rem;
    }

    /* bmi responsive section ends here */

    /* meet our team responsive starts here */

    .meetup-team-title-section h2 {
        font-size: 2rem;
    }

    .meetup-team-title-section p {
        width: 95%;
    }

    .meetup-team-main-container {
        padding: 1.2rem;
    }

    .meetup-contents {
        background: rgba(93, 91, 91, 0.553);
        border-radius: 0.8rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.2rem;
        padding: 0.6rem;
    }

    .team-member-info {
        position: absolute;
        bottom: 0rem;
        left: 1rem;
    }

    .team-member-info h2 {
        font-size: 1.2rem;
        font-weight: 600;
        color: rgb(255, 255, 255);
    }

    .team-member-info p {
        font-size: 0.9rem;
        font-weight: 400;
        text-align: left;
        color: rgba(255, 255, 255, 0.5);
    }

    /* meet our team section responsive ends here */

    /* analysis section responsive starts here */

    #fitness-title {
        font-size: 2rem;
        text-align: center;
        padding: 0 1rem;
    }

    .analysis-main-container {
        width: 87%;
        background: rgba(93, 91, 91, 0.553);
        border-radius: 0.8rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.8rem;
        padding: 1rem;
        margin: 1rem auto;
    }

    #analysis-second-card {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .analysis-card {
        background-color: #f2f2f244;
        /* Replace with your desired gray */
        border-radius: 0.8rem;
        padding: 1.5rem;
        box-shadow: 0 2px 5px rgba(31, 31, 31, 0.1);
        z-index: 0;
    }

    /* analysis section responsive ends here */


    /* footer section  responsive starts here */
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .logo-description p {
        width: 100%;
        font-size: 0.9rem;
        font-weight: 400;
        text-align: left;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 0.9rem;
    }

    .footer-content2 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        margin-top: 2rem;
        row-gap: 1rem;
    }

    .copyright {
        width: 100%;
        text-align: left;
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.5);
        padding: 1rem;
    }

    /* footer section responsive ends here  */

}




/* responsive for medium devices */

@media screen and (min-width: 576px) and (max-width: 992px) {

    .navbar-section {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 3.2rem 1.5rem;

    }

    /* banner section starts here  */
    .banner-main-container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin-top: 6rem;
    }

    .banner-img {

        width: 100%;
        position: relative;

    }

    .free-workout-videos {
        max-width: 192px;
        max-height: 97px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
        padding: 5px;
        position: absolute;
        top: 58rem;
        right: 8.2rem;
    }

    .tutorial-videos {
        max-width: 192px;
        max-height: 97px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 4px;
        gap: 0.5rem;
        position: absolute;
        top: 94rem;
        right: 32rem;
    }

    /* banner section ends here */


    /* change your habit responsive section starts here  */
    .change-habit-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 1rem;
    }

    /* change your habit responsive section ends here  */

    /* runner section starts here */
    .runner-container {
        width: 87%;
        margin: 5rem auto;
        /* background: rgb(34, 34, 34); */
        border-radius: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .runner-content {
        width: 90%;
    }

    .runner-content h1 {
        font-size: 2rem;
    }

    .runner-img {
        width: 90%;
    }

    /* runner section responsive ends here */



    /* bmi section responsive starts here */

    .small-center-shared-section {
        width: 87%;
        display: flex;
        justify-content: start;
        align-items: start;
    }

    .small-center-shared-section p {
        width: 70%;
        text-align: left;
    }

    .bmi-bonding-div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem;
    }

    .bmi-calculator-chart-content,
    table,
    th,
    td {
        padding: 0.6;
        font-size: 1.5rem;
    }

    .bmi-calculation-heading-part h3,
    p {
        padding: 0.8rem;
    }

    /* bmi responsive section ends here */


    /* meet our team section responsive starts here */
    .meetup-team-title-section {
        margin-top: 3rem;
    }

    .meetup-team-title-section p {
        width: 70%;
    }

    .meetup-team-main-container {
        padding: 2rem;
    }

    .team-member-info {
        position: absolute;
        bottom: 0rem;
        left: 1rem;
    }

    .team-member-info h2 {
        font-size: 1rem;
        font-weight: 600;
        color: rgb(255, 255, 255);
    }

    .team-member-info p {
        font-size: 0.9rem;
        font-weight: 400;
        text-align: left;
        color: rgba(255, 255, 255, 0.5);
    }

    /* Meet our team section responsive ends here */
    /* analysis section starts here */
    .analysis-main-container {
        width: 90%;
        background: rgba(93, 91, 91, 0.553);
        border-radius: 0.8rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.8rem;
        padding: 5rem;
        margin: 1rem auto;
    }


    .analysis-card {
        background-color: #f2f2f244;
        /* Replace with your desired gray */
        border-radius: 0.8rem;
        padding: 1.5rem;
        box-shadow: 0 2px 5px rgba(31, 31, 31, 0.1);
        z-index: 1;
    }

    #analysis-second-card {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    /* analysis section ends here */


    /* footer section  responsive starts here */
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .logo-description p {
        width: 80%;
        font-size: 0.9rem;
        font-weight: 400;
        text-align: left;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 0.9rem;
    }


    .footer-content2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .copyright {
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.5);
        padding: 1rem;
    }

    /* footer section responsive ends here  */

}