@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Style+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}
body {
  background-color: var(--color4);
  letter-spacing: 0%;
}

/* share-styles */
:root {
  --color1: rgb(255, 255, 255);
  --color2: rgba(255, 255, 255, 0.5);
  --color3: rgb(230, 83, 60);
  --color4: rgb(0, 0, 0);
}

.container {

  max-width: 1060px;
  width: 100%;
  margin: 30px auto 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  font-variation-settings: "slnt" 0;
  color: var(--color1);
  letter-spacing: 0%;
}
.banner-btn{
  display: flex;
  column-gap: 20px;
  text-wrap: nowrap;
}
.primary-btn{
  cursor: pointer;
  padding: 20px 45px;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: bold;
}

/* header section starts */
/* nav section start  */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90vw;
  width: 100%;
  margin: 50px auto 20px;
}
.nav-logo h1 {
  display: flex;
  font-weight: 800px;
  align-items: flex-start;
  color: var(--color3);
  font-style: italic;
  text-wrap: nowrap;
}
.nav-items {
  max-width: 30rem;
  width: 100%;
  border: 1px solid var(--color2);
  border-radius: 15px;
  padding: 10px;
}

.nav-items ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  gap: 20px;
}

.nav-items ul li a {
  text-decoration: none;
  color: var(--color1);
  font-size: 1.35rem;
  cursor: pointer;
}
.nav-items ul li a:hover {
  color: var(--color1);
  background: var(--color3);
  padding: 8px 20px;
  border-radius: 45px;
}
.menu{
  display: none;
}

#home {
  padding: 8px 20px;
  border-radius: 45px;
  background: var(--color3);
}
#home:hover {
  background: var(--color2);
}
/* banner section start */
.banner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.banner-content {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  max-width: 35rem;
  width: 100%;
  text-align: left
}
.banner-tittle {
  color: var(--color1);
  font-size: 4.88rem;
  font-weight: 900;
  line-height: 120%;
}
.shape {
  font-family: "Style Script", serif;
}

.banner-description {
  /* body-text */
  color: var(--color2);
  font-size: 1rem;
  line-height: 1.5rem;
}
.btn1{
  background: var(--color3);
  color: var(--color1);
  border: 1px solid var(--color3);
}

.btn1:hover{
  background: var(--color4);
}

.btn2{
  background: var(--color4);
  color: var(--color1);
  border: 1px solid var(--color1);
}

.btn2:hover{
  background: var(--color3);
  border: 1px solid var(--color3);
}

/* banner card style */
.banner-img {
  position: relative;
  display: inline-block;
}
/* .card-img {
  position: relative;
  width: 100%;
  height: 100%;
} */
.card {
  position: absolute;
  background: rgba(0, 0, 0, 0.449);
  color: var(--color1);
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
}
.tr {
  top: 12rem;
  right: 0;
}
.br {
  bottom: 8rem;
  right: ;
}

.features{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.449);
  border-radius: 10px;
  max-width: 68rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  bottom: 110px;
  row-gap: 50px;
}
.feature-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  /* border: 1px solid red; */

}
.feature-card{
  width: 9rem;
  text-align: center;
}
.feature-image{
  max-width: 17rem;
  width: 100%;
  border-radius: 50%;
  border: 5px solid var(--color2);
  object-fit: cover;
}
.feature-content{
  display: flex;
  flex-direction: column;
  max-width: 42rem;
  margin: 0 auto;
  padding: 5px;
  row-gap: 5px;
}
.feature-title{
  font-weight: 900;
  font-size: 3rem;
}
.feature-discription{
  font-weight: 400;
  font-size: 1rem;
  color: var(--color2);
}
.sub-title{
Font weight: 600;
Font size: 1.12rem;
}
.sub-des{
  font-weight: 400;
  font-size: 0.70rem;
}
/* banner section ends */
/* change your habit styles  ends here */
/* runner section styles starts here */
.runner-container {
  width: 100%;
  margin: 5rem auto;
  background: rgba(59, 58, 58, 0.841);
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.runner-content {
  width: 50%;
  padding: 2rem;

}

.runner-content h1 {
  font-size: 3rem;
  font-weight: 900;
  text-align: left;
  color: rgb(255, 255, 255);
}

.runner-content p {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0.9rem;
}

#btn-run {
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 40px;
  background: rgb(230, 83, 60);
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-top: 2rem;
}

.runner-img {
  max-width: 20rem;
  
}

.runner-img img {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

/* BMI section starts here */
.small-center-shared-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}

.small-center-shared-section h2 {
  font-size: 3rem;
  font-weight: 900;
  text-align: left;
  color: rgb(255, 255, 255);
}

.small-center-shared-section p {
  width: 35%;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0.9rem;
}
/* BMI charts and calculator section styles starts here */
.bmi-tripleC-main-container {
  background: rgba(48, 48, 48, 0.732);
}

.bmi-bonding-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5rem;
}

.bmi-calculator-chart-content {
  width: 100%;
}

.bmi-calculator-chart-content,
table,
th,
td {
  padding: 1.1rem;
}

.bmi-calculator-chart-content h3 {
  font-size: 1.8rem;
  font-weight: 900;
  text-align: left;
  color: var(--color1);
}

table {
  border-collapse: collapse;
  margin-top: 1.2rem;
}

th {
  border: 1px solid var(--color2);
  color: var(--color1);
  font-size: 1rem;
  font-weight: 500;
  padding: 5px;
}

td {
  border: 1px solid var(--color2);
  color: var(--color2);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
}

.bmi-calculation-heading-part h3 {
  text-align: left;
  color: var(--color1);
  font-size: 1.8rem;
  font-weight: 900;
  margin-top: 1rem;
}

.bmi-calculation-heading-part p {
  color: var(--color2);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bmi-calculator {
  width: 100%;
}

.input-styles {
  width: 90%;
  height: 2.5rem;
  padding: 1rem;
  margin: 10px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  font-size: 16px;
  font-weight: 400;
  color: rgba(240, 248, 255, 0.411);
}

select,
#gender-select {
  width: 90%;
  height: 2.5rem;
  padding: 0.5rem;
  margin: 10px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(202, 193, 193, 0.667);
}

select,
#single-select {
  width: 95%;
}

.inputs-for-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.single-grid {
  display: grid;
  grid-template-columns: 1fr;
}

/* meet our team sections styles starts here */
.meetup-team-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}

.meetup-team-section h2 {
  font-size: 3rem;
  font-weight: 900;
  text-align: left;
  color: rgb(255, 255, 255);
}

.meetup-team-section p {
  width: 50%;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  color: var(--color2);
  margin-top: 0.9rem;
}

.meetup-contents {
  background: var(--color2);
  border-radius: 0.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
  justify-items: center;
  margin-bottom: 10px;
}

.team-member-img {
  width: 315px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  align-items: center;
}

.team-member-info {
  position: relative;
  bottom: 20px;
  align-items: center;
}

.meetup-content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  color: var(--color1);
}

.meetup-content p {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  color: var(--color1);
  margin-top: 0.5rem;
}
.meetup-content{
  max-width: 20rem;
  width: 100%;
  height: auto;
}

/* Footer section starts here  */
.footer{
  padding: 30px 10px;
  background-color: rgb(63, 59, 59);
}
.footer-main{
display: flex;
justify-content: space-evenly;
}
.fpart1 h2{
  color: var(--color1);
}
.fpart1 p{
  color: var(--color2);
}
.fpart2 h3{
  color: var(--color1);
}
.fpart2 p{
  color: var(--color2);
}
.fpart3 h3{
  color: var(--color1);
}
.fpart3 p{
  color: var(--color2);
}
.footer hr{
  width: 80%;
  margin: 0 auto;
}

.copyright{
  text-align: center;
  color: var(--color2);
  margin-top:0px;
}
/* footer ends */